$primary: #748CAB;
$primary-light: #F0EBD8;
$primary-grey: #3E5C76;
$primary-dark-light:#1D2D44;
$primary-dark:#0D1321;
$dark:#15212b;
$font-primary:$primary;
$font-light:#fff;
$font-grey: $primary-grey;
$font-dark: #000;

$border-primary:$primary;
$border-light:#fff;
$border-grey: #38444d;
$border-dark: $primary-dark;

$background-light: #fff;
$background-grey-dark: $primary-dark;
$background-dark-light: $primary-dark-light;
$background-dark: $dark;

$danger: #e0245e;
$success: #42993d;
