@import "../../scss/styles.scss";

.form-post {
   margin: 1% auto;
   width:auto;
   display: block;

   div.form-post-container {
      position: relative;
      margin: auto;
      padding: 4%;
      display: flex;
      width: 50%;
      height: auto;
      background-color: $background-dark-light;
      flex-direction: column;

      span.form-b{
         position: absolute;
         background: linear-gradient(90deg,#0f00ff,#7733cf,#bf47c0,#ff4460,#bf47c0,#0f00ff);
         background-size: 300%;
         display: block;
         top:-2px;
         bottom:-2px;
         right:-2px;
         left:-2px;
         z-index: -1;
         transform: skew(2deg,2deg);
         animation: animacion linear infinite 10s;
      }
      @keyframes animacion {
         0%{
            background-position: 0%;
         }50%{
            background-position: 150%;
         }100%{
            background-position: 300%;
         }
         
      }
   }

   label {
      display: block;
      margin: 1rem;
      color: white;
   }
   input[type="checkbox"]{
      display: inline;
   }
   input {
      text-align: center;
      color: white;
      outline: none;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid $border-light;
   }
   button{
      width: 25%;
      height: 2rem;
      margin:  1rem auto;
      background-color: $success;
      border: none;
      border-radius: 3px;
      color: white;

   }

}