@import "../../scss/styles.scss";

button.nav{
   background-color: transparent;
   height: 100%;
   overflow: hidden;
   font-family: sans-serif;
   font-size: 0.8em;
   width: 100%;
   background-color: $background-grey-dark;
   text-transform: capitalize;
   color: $font_light;
   border: none;
   transition: all .5s;
   text-overflow: ellipsis;

   svg{
      margin: 0 1rem;
   }
   &:active{
      border: 1px solid $border-grey;
      outline: none;
      
   }

   &:hover{
      height: 102.5%;
      width: 110%;
      margin-top: 1.5%;
      
      box-shadow: 2px 2px 2px black;
   }
}
